@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

:root {
  --background: hsl(0 0% 90%);
  --foreground: hsl(0 0% 0%);
  --primary: hsl(0, 0%, 100%)
}

.dark {
  --background: hsl(0 0% 0%);
  --foreground: hsl(0 0% 100%);
  --primary: hsl(0, 0%, 0%)
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-lato-sans);
  --breakpoint-375px: 375px;
  --breakpoint-475px: 475px;

}

@layer base {
  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--font-lato-sans);
    @apply antialiased;
  }
}
